/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
/* Components */
@import url(components/banner.css);
@import url(components/footer.css);
@import url(components/card.css);
@import url(components/button.css);
/* Utilities */
*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
  text-align: center;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.container{
  padding-top: 10px;
  background-image: linear-gradient(rgba(41, 41, 41, 0.753), rgba(24, 23, 23, 0.904)),url(../images/photo-1590394017390-add3e9922c35.jpg);
  background-size: cover;
}

.container h2 {
  font-size: 40px;
  color: white;
}

.spacer{
  height: 15px;
  background-color: rgba(73, 73, 73, 0.432);
  width: 100%;
}
