.banner{
  position: relative;
  height: 80vh;
  background-size: cover;
  background-position:top;
  background-image:linear-gradient(rgba(41, 41, 41, 0.356), rgba(44, 44, 44, 0.534)),  url('https://images.unsplash.com/photo-1523294587484-bae6cc870010?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1302&q=80');
}

.banner-container{
  display: flex;
  height: 75%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin: 0 auto;
  padding: 75px 250px 80px 0px;
}

.banner-container p,a {
  text-decoration: none;
  padding: 10px 150px;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.774);
}

.banner-container h1 {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.774);
  color: rgb(255, 255, 255);
  font-weight: lighter;
  font-size: 40px;
}
