.cards{
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 50px;
  opacity: .75;
}

.card {
  text-align: center;
  height: 200px;
  border-radius: 20px;

  width: 200px;
  background-color: #5c6a79;
}

.card h3{
  margin: -1px;
  font-size: 20px;
  padding: 15px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.card i{
  font-size: 50px;
  padding: 50px;
  color:white;
  /* background-color: #404E5C; */
  margin: -1px;
  border-bottom: 1px solid white;
}
